/*
 Theme Name:   JACTest
 Theme URI:    https://bitbucket.org/johnnyspaceboots/jactest
 Description:  Sage child theme built for JAC evaluation
 Author:       Peter Walsh
 Author URI:   https://bitbucket.org/johnnyspaceboots
 Template:     sage
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:
 Text Domain:
*/
$font-stack: 'Open Sans', Helvetica, sans-serif;
$font-stack-condensed: 'Open Sans Condensed', Helvetica, sans-serif;

body {
  font-family: $font-stack;
  background-color: #6d9ebc !important;

  header {
    height: 122px;
    overflow: hidden;
    background-color: #333;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#232323+0,161616+26,161616+89,161616+89&1+0,1+25,0.75+26,0.75+91,0+92 */
    background: -moz-linear-gradient(top, rgba(35,35,35,1) 0%, rgba(23,23,23,1) 25%, rgba(22,22,22,0.75) 26%, rgba(22,22,22,0.75) 89%, rgba(22,22,22,0.75) 91%, rgba(22,22,22,0) 92%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(35,35,35,1) 0%,rgba(23,23,23,1) 25%,rgba(22,22,22,0.75) 26%,rgba(22,22,22,0.75) 89%,rgba(22,22,22,0.75) 91%,rgba(22,22,22,0) 92%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(35,35,35,1) 0%,rgba(23,23,23,1) 25%,rgba(22,22,22,0.75) 26%,rgba(22,22,22,0.75) 89%,rgba(22,22,22,0.75) 91%,rgba(22,22,22,0) 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#00161616',GradientType=0 ); /* IE6-9 */

    #logo {
      position: relative;
      height: 100%;
      width: 342px;
      padding-left: 101px;
      background-color: #fff;

      img {
        margin-top: 33px;
      }
    }

    #logo-sidebar {
      right: -68px;
      width: 68px;
      height: 122px;
      background: url('img/logo-corner.png');
    }

    #navigation {
      /* width of the logo container + its image sidebar */
      width: calc(100vw - 410px);
      margin-left: 68px; /* image sidebar compensation */

      .row {
        ul {
          list-style-type: none;
          padding: 0;
          padding-right: 4em;

          li {
            font-variant: small-caps;
            color: #fff;
            float: left;
            font-weight: 100;
            float: right;
          }

          li:first-of-type {
            padding-right: 0;
          }
        }
      }

      #top-nav {
        ul {
          height: 31px;
          line-height: 31px;
          margin-bottom: 0;
          padding-right: 6em;

          li {
            font-size: .875em;
            padding-right: 1em;
          }


        }
      }

      #bottom-nav {
        ul {
          height: 80px;
          line-height: 80px;
          margin-bottom: 0;

          li {
            font-size: 1.5em;
            padding-right: 2em;
          }
        }
      }
    }
  }
}

.carousel {
  position: absolute !important;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;

  div {
    background-size: cover;
    height: 100vh;
  }
}

.carousel-controls {
  position: absolute !important;
  color: #fff;
  z-index: 0;
  top: calc(50vh - 25px);
  left: 0;
  width: 40vw;
  color: white;
  padding: 2em 2em 2em 6em;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d9ebc+0,6d9ebc+100&1+0,1+66,0.66+100 */
  background: -moz-linear-gradient(left, rgba(109,158,188,1) 0%, rgba(109,158,188,1) 66%, rgba(109,158,188,0.66) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(109,158,188,1) 0%,rgba(109,158,188,1) 66%,rgba(109,158,188,0.66) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(109,158,188,1) 0%,rgba(109,158,188,1) 66%,rgba(109,158,188,0.66) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d9ebc', endColorstr='#a86d9ebc',GradientType=1 ); /* IE6-9 */

  div {
    display: none;
  }

  div.active {
    display: block;
  }

  #hero-sidebar {
    display: block;
    right: -61px;
    width: 61px;
    height: calc(100% + 2px);
    background: url("img/hero-sidebar.png");
    background-size: 100% 100%;
    top: -2px;
  }

  #hero-action {
    display: block;
    position: absolute;
    color: #6d9ebc;
    top: 12.5%;
    right: -42%;
    width: 85%;
    height: 75%;
    text-align: right;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.75+66,1+75,1+75,1+100 */
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 66%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 66%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 66%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */  }

  h1 {
    margin: 0 0 .25em 0; padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0; padding: 0;

    li {
      float: left;
      margin-right: .5em;
      cursor: pointer;
    }
  }

  span {
    font-variant: small-caps;
    font-size: 1.25em;
    margin-top: 25%;
    margin-right: 1em;
    display: block;
  }
}

.sidebar {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
}

.viewport-spacer {
  height: 77vh;
}

.container {
  width: 100vw !important;
}

.spacer {
  color: white;
  margin: 7em 1em 3em 6em;

  h1 {
    font-weight: 100;
    margin-bottom: .5em;
  }

  p {
    color: white;
    margin-left: 0;
    margin-bottom: 1.5em;
    font-style: italic;
  }

  button {
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
    margin-bottom: 4em;
    padding: .5em 1em;
  }
}

.spacer.right {
  margin-right: 6em;
  margin-left: 1em;
}

.block {
  position:relative;

  .img-block {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .img-block.right {
    left: 0;
    right: inherit;
  }
}

.footer {
  padding: 10em 0 10em 6em;
  color: white;

  p {
    font-style: italic;
  }

  button {
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
    margin-bottom: 4em;
    padding: .5em 1em;
  }
}

footer {
  padding: 6em 0 0 0;
  background-color: #333;
  color: white;

  div {
    ul {
      list-style-type: none;
      margin: 0; padding: 0;
      line-height: 56px;

      li {
        float: right;
        margin-right: 2em;
      }
    }
  }
}

#page-footer {
      padding: 0 6em 5em 6em;
}

#bottom-footer {
  padding-top: 1em;
  color: #a9acb1;
  border-top: 1px solid #a9acb1;
}
